.wowbook-page-content {
  background: black;
}
.wowbook-left .wowbook-gutter-shadow {
  background-image: url('../images/page_left_background.png');
  opacity: 0.8;
  width: 60px;
}
.wowbook-right .wowbook-gutter-shadow {
  background-image: url('../images/page_right_background.png');
  background-position: 0 0;
    opacity: 0.8;
  width: 75px;

}
.bookletcontainer.default{
    position: absolute;
    margin-top: 4px;
    width: 100%;
    height: 492px;
    -webkit-transform: translate3d(-18px,0,0px) rotate3d(0,1,0,0deg);
    -moz-transform: translate3d(-18px,0,0px) rotate3d(0,1,0,0deg);
    transform: translate3d(-18px,0,0px) rotate3d(0,1,0,0deg);
    -webkit-transition: -webkit-transform 1.5s;
    -moz-transition: -moz-transform 1.5s;
    transition: transform 1.5s;
}
.bookletcontainer.defaultDigipak{
    position: absolute;
    margin-top: 4px;
    margin-left: -492px;
    width: 100%;
    height: 492px;
    -webkit-transform: translate3d(-18px,0,0px) rotate3d(0,1,0,0deg);
    -moz-transform: translate3d(-18px,0,0px) rotate3d(0,1,0,0deg);
    transform: translate3d(-18px,0,0px) rotate3d(0,1,0,0deg);
    -webkit-transition: -webkit-transform 1s, margin 1s;
    -moz-transition: -moz-transform 1s, margin 1s;
    transition: transform 1s, margin 1s;
}
.bookletcontainer {
    position: absolute;
    margin-top: 4px;
    width: 100%;
    height: 492px;
    -webkit-transform: translate3d(8px,0,0px) rotate3d(0,1,0,0deg);
    -moz-transform: translate3d(8px,0,0px) rotate3d(0,1,0,0deg);
    transform: translate3d(8px,0,0px) rotate3d(0,1,0,0deg);
    -webkit-transition: -webkit-transform 1.5s, margin .5s;
    -moz-transition: -moz-transform 1.5s, margin .5s;
    transition: transform 1.5s, margin .5s;

    z-index: 33232;
}
.bookletcontainer_singleinside{
    position: absolute;

    width: 100%;
    height: 492px;
    -webkit-transform: translate3d(246px,0,0px) rotate3d(0,1,0,0deg);
    -moz-transform: translate3d(246px,0,0px) rotate3d(0,1,0,0deg);
    transform: translate3d(246px,0,0px) rotate3d(0,1,0,0deg);
    z-index: 33232;
    -webkit-transition: -webkit-transform 1.5s, margin .5s;
    -moz-transition: -moz-transform 1.5s, margin .5s;
    transition: transform 1.5s, margin .5s;
}
.bookletcontainer_singlefront{
    position: absolute;

    width: 100%;
    height: 492px;
    -webkit-transform: translate3d(-246px,0,0px) rotate3d(0,1,0,0deg);
    -moz-transform: translate3d(-246px,0,0px) rotate3d(0,1,0,0deg);
    transform: translate3d(-246,0,0px) rotate3d(0,1,0,0deg);
    z-index: 33232;
    -webkit-transition: -webkit-transform 1.5s, margin .5s;
    -moz-transition: -moz-transform 1.5s, margin .5s;
    transition: transform 1.5s, margin .5s;
}

#main {
  position: relative;
}
.scan_double_1{
    width:984px;
    height:492px;
    margin-left: 0px;
    max-width: 200%;
}
.scan_double_2{
    width:984px;
    height:492px;
    margin-left: -492px;
    max-width: 200%;
}

.scan_single{
    width:492px;
    height:492px;
    max-width: 100%;
}

.b_grad{
  /*  background-image: linear-gradient(right , rgb(88,88,88) 47%, rgb(48,48,48) 100%);
    background-image: -o-linear-gradient(right , rgb(88,88,88) 47%, rgb(48,48,48) 100%);
    background-image: -moz-linear-gradient(right , rgb(88,88,88) 47%, rgb(48,48,48) 100%);
    background-image: -webkit-linear-gradient(right , rgb(88,88,88) 47%, rgb(48,48,48) 100%);
    background-image: -ms-linear-gradient(right , rgb(88,88,88) 47%, rgb(48,48,48) 100%);

    background-image: -webkit-gradient(
        linear,
        right top,
        left top,
        color-stop(0.47, rgb(88,88,88)),
        color-stop(1, rgb(48,48,48))
    );
	overflow: hidden;
	overflow: hidden;
*/
    background-image: linear-gradient(right , rgb(148,148,148) 47%, rgb(194,194,194) 100%);
    background-image: -o-linear-gradient(right , rgb(148,148,148) 47%, rgb(194,194,194) 100%);
    background-image: -moz-linear-gradient(right , rgb(148,148,148) 47%, rgb(194,194,194) 100%);
    background-image: -webkit-linear-gradient(right , rgb(148,148,148) 47%, rgb(194,194,194) 100%);
    background-image: -ms-linear-gradient(right , rgb(148,148,148) 47%, rgb(194,194,194) 100%);

    background-image: -webkit-gradient(
        linear,
        right top,
        left top,
        color-stop(0.47, rgb(148,148,148)),
        color-stop(1, rgb(194,194,194))
    );
    overflow: hidden;
    overflow: hidden;
}
